div{
    border: 1PX solid black;
    flex-direction: column;
  
    
 
}
.p1{
    display: flex;
    
    flex-direction: column;
    width: 200px;
    height: 500px;
    padding: 5px;
    margin: 5px;
}
.p2{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    padding: 5px;
    margin: 5px;
}
.p3{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    padding: 5px;
    margin: 5px;
}
footer{
    color: #fff9f9;
    background-color: black;
   
}